.page {
    position: relative;
    min-height: 97vh;
}

.form-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-line {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.footer {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}