.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.first-line {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.middle-container{
    display: flex;
    justify-content: center;
}

.footer {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
