.first-line {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-top: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.to-center {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
}