.ibm-plex sans-thin {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex sans-extralight {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex sans-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex sans-medium {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex sans-semibold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex sans-thin-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex sans-extralight-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex sans-light-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex sans-regular-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex sans-medium-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex sans-semibold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex sans-bold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.logo-img {
    height: 60px;
    width: 60px;
    margin-left: 23px;
}

.text-logo {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-left: 15px;
    color: #34374C;
}

.account {
    border: 1.3px solid;
    border-color: #34374C;
    color: #34374C;
    border-radius: 8px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 25px;
    cursor: pointer;
    transition-duration: 0.15s;
}

.account:hover {
    background-color: #34374C;
    color: #E5E5E5;
}

.account:active {
    opacity: 0.7;
}

.bottom-image-desktop,
.bottom-image-laptop,
.bottom-image-tablet,
.bottom-image-mobile {
    display: none;
    max-width: 100%;
    height: auto;
}

.addTaskBtn{
    border: 1.3px solid;
    border-color: #D62C44;
    color: #D62C44;
    background: none;
    border-radius: 8px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    transition-duration: 0.15s;
}

.addTaskBtn:hover {
    background-color: #D62C44;
    color: #E5E5E5;
}

.addTaskBtn:active {
    opacity: 0.7;
}


#form textarea{
    background-color: #EFF0F3;
    color: #34374C;
    margin: 0px;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    outline: none;
    resize: none;
    font-size: 18px;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(165, 165, 165);
    font-family: "IBM Plex Sans", sans-serif;
    max-height: 345px;
    overflow-y: hidden;
    width: 1071px;
}

#form textarea:focus{
    border-color: rgb(90, 90, 90);
}

#form textarea::-webkit-scrollbar{
    width: 2px;
}

.addBtn{
    border: 1.3px solid;
    border-color: #D62C44;
    color: #D62C44;
    background: none;
    border-radius: 8px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    transition-duration: 0.15s;
}

.addBtn:hover {
    background-color: #D62C44;
    color: #E5E5E5;
}

.addBtn:active {
    opacity: 0.7;
}

#closeTaskInput{
    border: 1.3px solid;
    border-color: #34374C;
    color: #34374C;
    background: none;
    border-radius: 8px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    transition-duration: 0.15s;
}

#closeTaskInput:hover {
    background-color: #34374C;
    color: #E5E5E5;
}

#closeTaskInput:active {
    opacity: 0.7;
}

#error {
    font-family: "IBM Plex Sans", sans-serif;
    color: #D62C44;
    font-size: 20px;
    margin-bottom: 8px;
    width: 506px;
}

#notesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.note {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1 1 225px;
    /* Each note occupies at least 200px width */
    min-width: 225px;
}

.note-content {
    font-family: "IBM Plex Sans", sans-serif;
    color: #34374C;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
            line-clamp: 4;
    -webkit-box-orient: vertical;
}

.note-date {
    font-family: "IBM Plex Sans", sans-serif;
    color: #A5A5A5;
    font-size: 14px;
    margin-top: 8px;
}

.note-buttons {
    display: flex;
    justify-content: start;
    margin-top: 14px;
}

.note-button {
    background-color: #D62C44;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.note-button:hover {
    background-color: #B51B31;
}

.edit-button {
    margin-right: 10px; /* Adjust spacing between buttons if needed */
}

@media (min-width: 1200px) {
    .bottom-image-desktop {
        display: block;
    }

    .bottom-image-laptop {
        display: none;
    }

    .bottom-image-tablet {
        display: none;
    }

    .bottom-image-mobile {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .bottom-image-desktop {
        display: none;
    }

    .bottom-image-laptop {
        display: block;
    }

    .bottom-image-tablet {
        display: none;
    }

    .bottom-image-mobile {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 991px) {

    .bottom-image-desktop {
        display: none;
    }

    .bottom-image-laptop {
        display: none;
    }

    .bottom-image-tablet {
        display: block;
    }

    .bottom-image-mobile {
        display: none;
    }
}


@media (min-width: 310px) and (max-width: 479px) {

    .bottom-image-desktop {
        display: none;
    }

    .bottom-image-laptop {
        display: none;
    }

    .bottom-image-tablet {
        display: none;
    }

    .bottom-image-mobile {
        display: block;
    }
}